@use 'config';

.regular body.dev {
  padding-top: config.$dev__body-pt;

  &::before {
    content: "Dev";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    height: config.$dev__banner-h;
    border: config.$dev__banner-b solid;
    text-align: center;
    font-weight: config.$dev__banner-fw;
    padding: config.$dev__banner-p;
  }

  .hdr,
  .hdr::before {
    top: config.$dev__banner-h;
  }
}

