@use 'lib/media' as media;
@use 'config';

.hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: config.$hdr-p;
  max-width: config.$hdr-minw;
  height: config.$hdr-h;

  &::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    height: config.$hdr-bh;
  }

  &__brand {
    position: relative;
  }

  &__toggle-state,
  &__toggle-control {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    position: relative;
    padding: config.$hdr__link-p;
    text-decoration: none;

    &:focus {
      outline: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: config.$hdr__link-dot-wh;
      height: config.$hdr__link-dot-wh;
      border-radius: 50%;
      transform: translateX(-50%) scale(config.$hdr__link-dot-scale);
      transition: transform config.$hover-fade-ms ease-in;
    }

    &:hover::before,
    &:focus::before {
      transform: translateX(-50%) scale(1);
    }
  }

  @include media.screen-tiny {
    z-index: 0;

    &__toggle-state {
      display: initial;
      position: absolute;
      top: -100px;
    }

    &__toggle-control {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      width: config.$tiny__hdr__toggle-control-wh;
      height: config.$tiny__hdr__toggle-control-wh;
      border-top: config.$tiny__hdr__toggle-control-b solid;
      border-bottom: config.$tiny__hdr__toggle-control-b solid;
      transition: border-color config.$hover-fade-ms ease-in,
      box-shadow config.$hover-fade-ms ease-in;
      cursor: pointer;

      &::before {
        content: "";
        border-top: config.$tiny__hdr__toggle-control-b solid;
        width: 100%;
        transition: border-color config.$hover-fade-ms ease-in;
      }
    }

    &__list {
      display: block;
      position: absolute;
      z-index: -2;
      right: 0;
      bottom: 0;
      min-width: config.$tiny__hdr__list-minw;
      font-size: config.$tiny__hdr__list-fs;
      transition: transform config.$menu-slide-ms ease-in-out;
      pointer-events: none;
    }

    &__toggle-state:checked ~ &__list {
      display: block;
      transform: translateY(100%);
      pointer-events: auto;
    }

    &__link {
      display: block;
      padding: config.$tiny__hdr__link-p;
      line-height: config.$tiny__hdr__link-lh;

      &::before {
        top: initial;
        left: config.$tiny__hdr__link-dot-l;
        width: config.$tiny__hdr__link-dot-wh;
        height: config.$tiny__hdr__link-dot-wh;
      }
    }
  }
}

