@use 'lib/util' as util;
@use 'lib/media' as media;
@use 'lib/palette--solarized' as palette;

// Media
media.$size-small: 600px;
media.$size-medium: 900px;
media.$size-large: 1200px;
media.$size-huge: 1800px;

// Color
$clr-bg: palette.$black;
$clr-bg-alt: palette.$brblack;
$clr-fg: palette.$white;
$clr-accent-1: palette.$blue;
$clr-accent-2: palette.$red;
$tiny__hdr__list-grad: linear-gradient(45deg, $clr-bg-alt, $clr-bg);

// Font
$sans: Helvetica, Calibri, Arial, sans;
$serif: Garamond, "Times New Roman", Times, serif;
$fs-h1: 1.5rem;
$fs-h2: 1.2rem;
$fw-h1: 700;
$dev__banner-fw: 900;

// Dimension
$body-p: 8rem 5rem 4rem;
$body-minw: 40rem;
$hdr-p: 1rem 3rem 1rem;
$hdr-minw: ($body-minw * 1.2);
$hdr-h: 3rem;
$hdr-bh: (util.top($hdr-p) + $hdr-h + util.bottom($hdr-p));
$hdr__link-p: 1rem;
$hdr__link-dot-wh: 0.5rem;
$hdr__link-dot-scale: 0.25;
$hdr__link-dot-blur: (1rem / 8);
$hdr__link-dot-op: 0.75;
$tiny__hdr__toggle-control-wh: 2rem;
$tiny__hdr__toggle-control-b: ($tiny__hdr__toggle-control-wh * 0.2);
$tiny__hdr__toggle-control-blur: ($tiny__hdr__toggle-control-wh / 4);
$tiny__hdr__toggle-control-op: 0.5;
$tiny__hdr__list-minw: ($body-minw / 2);
$tiny__hdr__list-fs: 1.5rem;
$tiny__hdr__link-p: 1rem 1rem 1rem 4.5rem;
$tiny__hdr__link-lh: ($tiny__hdr__list-fs * 1.2);
$tiny__hdr__list-h:
  ((util.top($tiny__hdr__link-p) * 2 + $tiny__hdr__link-lh) * 4);
$tiny__hdr__link-dot-l: (util.left($tiny__hdr__link-p) * 2 / 3);
$tiny__hdr__link-dot-wh: ($hdr__link-dot-wh * 2);
$dev__banner-b: 2px;
$dev__banner-p: 0.5rem;
$dev__banner-h: 2rem;
$dev__body-pt: (util.top($body-p) + $dev__banner-h);

// Animation Timing
$hover-fade-ms: 200ms;
$menu-slide-ms: 250ms;

