@use 'lib/media' as media;
@use 'config';

.regular {
  body {
    background-color: config.$clr-bg;
    color: config.$clr-fg;
  }
}

.regular body.dev {
  &::before {
    border-color: config.$clr-accent-1;
    background-color: config.$clr-accent-2;
    color: config.$clr-fg;
  }
}

.hdr {
  &::before {
    background-image:
      linear-gradient(to right, config.$clr-bg-alt, config.$clr-bg);
  }

  &__link {
    color: config.$clr-fg;

    &-0mod2::before {
      background-color: config.$clr-accent-1;
      box-shadow: 0 0 config.$hdr__link-dot-blur
        rgba(config.$clr-accent-1, config.$hdr__link-dot-op);
    }

    &-1mod2::before {
      background-color: config.$clr-accent-2;
      box-shadow: 0 0 config.$hdr__link-dot-blur
        rgba(config.$clr-accent-2, config.$hdr__link-dot-op);
    }
  }

  @include media.screen-tiny {
    &__toggle-control,
    &__toggle-control::before {
      border-color: config.$clr-fg;
    }

    &__toggle-state:focus ~ &__toggle-control,
    &__toggle-state:focus ~ &__toggle-control::before,
    &__toggle-control:hover,
    &__toggle-control:hover::before {
      border-color: config.$clr-accent-1;
    }

    &__toggle-state:focus ~ &__toggle-control,
    &__toggle-control:hover {
      box-shadow:
        0 0 config.$tiny__hdr__toggle-control-blur
          rgba(config.$clr-accent-1, config.$tiny__hdr__toggle-control-op),
        0 0 config.$tiny__hdr__toggle-control-blur
          rgba(config.$clr-accent-1, config.$tiny__hdr__toggle-control-op)
          inset;
    }

    &__toggle-state:checked ~ &__toggle-control,
    &__toggle-state:checked ~ &__toggle-control::before {
      border-color: config.$clr-accent-2;
    }

    &__toggle-state:checked ~ &__toggle-control {
      box-shadow:
        0 0 config.$tiny__hdr__toggle-control-blur
          rgba(config.$clr-accent-2, config.$tiny__hdr__toggle-control-op),
        0 0 config.$tiny__hdr__toggle-control-blur
          rgba(config.$clr-accent-2, config.$tiny__hdr__toggle-control-op)
          inset;
    }

    &__list {
      background-image: config.$tiny__hdr__list-grad;
    }
  }
}

