@use 'config';

.regular {
  font-family: config.$sans;
}

.hdr__brand {
  color: config.$clr-fg;
  font-size: config.$fs-h1;
  font-weight: config.$fw-h1;
  text-decoration: none;
}

.main__title {
  font-size: config.$fs-h2;
}

.main__p {
  font-family: config.$serif;
}

