$size-small: 600px;
$size-medium: 900px;
$size-large: 1200px;
$size-huge: 1800px;

@mixin screen-tiny {
  @media only screen and (max-width: ($size-small - 1)) {
    @content;
  }
}

@mixin screen-large-up {
  @media only screen and (min-width: $size-large) {
    @content;
  }
}

