@function top($list) {
  @return nth($list, 1);
}

@function right($list) {
  @if (length($list) == 1) {
    @return nth($list, 1);
  }
  @return nth($list, 2);
}

@function bottom($list) {
  $len: length($list);
  @if ($len == 1 or $len == 2) {
    @return nth($list, 1);
  }
  @return nth($list, 3);
}

@function left($list) {
  $len: length($list);
  @if ($len == 1) {
    @return nth($list, 1);
  }
  @if ($len == 2 or $len == 3) {
    @return nth($list, 2);
  }
  @return nth($list, 4);
}

